@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');



.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}



.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}



/* 4 About */
.about_wrapper{
  background-image:url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.about_wrapper h2{
  color:var(--text-black);
}
.about_wrapper .p__cormorant{
  color:var(--text-white);
  
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
}
.about_wrapper .card{
  width:80%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_wrapper .about-clinic{
  flex:0 0 auto;
  width:50%;
}
.about_wrapper .about-clinic:nth-child(1),
.about_wrapper .about-clinic:nth-child(2){
  margin-bottom:2.8125rem;
}
.about_wrapper .about-clinic:nth-child(2),
.about_wrapper .about-clinic:nth-child(4){
  padding-left:3.75rem;
}
.about_wrapper .line-1,
.about_wrapper .line-2{
  content:'';
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:.0313rem;
  height:100%;
  background:var(--bg-dark);
}
.about_wrapper .line-2{
  width:100%; 
  height:.0625rem;
}
.about_wrapper .about-animate{
  position:absolute;
  left:-2.5rem;
  bottom:0;
  -webkit-animation:movebounce 3s linear infinite;
  animation:movebounce 3s linear infinite;
}

.ourMission_wrapper {
  background-color:white;
}
.ourMission_wrapper h1{
  color:var(--text-black);

}
.ourMission_wrapper .p__mission{
  font-size: large;
}


/* 5 Services */
.services_wrapper {
  background-color:white;
}
.services_wrapper h2{
  color:var(--text-black);
}
.services_wrapper .card{
  background-color:rgb(180, 186, 255);
  color-scheme: black;
  
  border:.0625rem solid brown;
  box-shadow: none;
  padding:2.5rem;
}
.services_wrapper .card:hover{
  background:wheat;
  cursor:cell;
  border-color:transparent;
}
.services_wrapper .card h4,
.services_wrapper .card p{
  color:var(--text-white);
}
.services_wrapper .icon-box{
  margin-bottom:1.875rem;
}

.services_wrapper .ic{
 size: 10rem;}


/* Set font styles for team member name and job title */
.team-member h5, .team-member p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }
  
  /* Add a hover effect to each team member */
  .team-member:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
  }
  
  /* Set a background color for the team member card */
  .team-member {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  /* Center the team member images vertically within their column */


  .team-member img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
  

