@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #004caa;
    --secondary-color: #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    /* Text Style */
    --primary-font: 'Roboto', serif;
    --secondary-font: 'Opensans', sans-serif;
    --primary-text: #004caa;
    --secondary-text: #fc5185;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #666;
    --text-light: #ddd;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);

} 

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.wrapper{
    padding:6.25rem 0;
}
.main-btn{
    display: inline-block;
    border:.0625rem solid var(--bg-white);
    color:var(--text-white);
    text-align: center;
    padding:.75rem 1.375rem;
    font-size: 1rem;
    background:transparent;
    text-transform: capitalize;
    border-radius: .1875rem;
    transition:all 0.3s ease-in-out;
}
.main-btn:hover{
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    color:var(--text-white);
}
.fill-btn{
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    color:var(--text-white);
}
.fill-btn:hover{
    background-color:var(--bg-white);
    border-color:var(--bg-white);
    color:var(--text-black)
}
h1{
    font-size: 3.875rem;
    margin-bottom:1.25rem;
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}



h2{
    font-size: 2.875rem; 
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}
h3{
    font-size: 2.25rem; 
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}
h4{
    font-size: 1.5rem; 
    font-weight: 600;
    line-height: 2.25rem;
    color:var(--text-black);
    font-family: var(--secondary-font);
}
h5{
    font-size: 1.5rem; 
    line-height: 1.2;
    font-weight: 500;
    color:var(--primary-text);
    margin-bottom:.9375rem;
    font-family: var(--secondary-font);
}
h6{
    font-size: .875rem; 
    font-weight: 300;
    color:var(--text-black);
    margin-bottom:.9375rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

p {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 28px;
    font-size: 16px;
  }

  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }


.card{
    border-radius: .625rem;
    background-color:var(--bg-white);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
    padding:3.75rem 3.125rem 4.6875rem;
    -webkit-transition:all .4s;
    transition:all .4s;
    border:0;
}
@keyframes movebounce{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    50%{
        -webkit-transform:translateY(1.25rem);
        transform:translateY(1.25rem);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

/* 2 Navbar */ 
.header_wrapper .navbar{
    padding:.9375rem 0;
    background-color:transparent;
    transition:0.3s ease-in-out;
}
.logo-fluid {
    max-width: 100%;
    height: 40px;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus{
    border:0;
    box-shadow: none;
    color:var(--text-black);
    line-height: 2;
}

.header_wrapper .nav-item{
    margin:0 .625rem;
}
.header_wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color:var(--primary-text);
    display:inline-block;
    font-family: var(--secondary-font);
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link.active{
    color:var(--secondary-text);
}
.navbar.header-scrolled{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background-color:var(--bg-white);
   
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
    transition:0.3s ease-in-out;
}

/* 3 home */
.banner_wrapper{
    background-image:url('../images/home.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner_wrapper p{
    max-width: 80%;
    color:var(--text-white);
}


/*8 Gallery Section */
/* .gallery_wrapper{
    background-image:url('../images/registeritem.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.gallery_wrapper img{
    border-radius: .9375rem;
}

/*9 Testimonial */
/* .testimonial_wrapper .card{
    background-color:rgba(255, 88, 143, 0.05);
}   */

/* appointment */
.product_wrapper {
    background-image: url('../images/registeritem.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product_wrapper .p__cormorant{
    color:var(--text-white);
    font-size: large;

}

/*10 blog */
.blog_wrapper .blog-content{
    background-color: #f0d69d;
    padding:2.5rem;
}

/* 11 footer */
.footer_wrapper{
    background-color:var(--primary-color);
    padding-bottom:0;
}
.footer_wrapper h5{
    color:var(--text-white);
}
.footer_wrapper .contact-info ul a {
    padding:0;
}
.footer_wrapper ul li{
    margin-bottom:.5rem;
    list-style: none;
    font-size: .875rem;
}
.footer_wrapper ul li a{
    color:var(--text-white);
}
.footer_wrapper .link-widget li a,
.footer_wrapper p{
    color:var(--text-white);
    font-size: .875rem;
    padding-left:1.5rem;
    position:relative;
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
.footer_wrapper .link-widget li a::before{
    content:'\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position:absolute;
    left:0.3rem;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.footer_wrapper .link-widget li a:hover{
    margin-left:.625rem;
    color:var(--secondary-text);
}
.footer_wrapper .social-network a{
    width:2.1875rem;
    height:2.1875rem;
    margin:.5rem;
    line-height: 2rem;
    font-size: .875rem;
    display:inline-block;
    border:.125rem solid var(--bg-light-blue);
    color:var(--text-light);
    text-align: center;
    border-radius: 100%;
    -webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-network a:hover{
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    color:var(--text-white);
    transform:translateY(-0.1875rem);
}
.footer_wrapper ::placeholder{
    color:var(--text-light);
}
.footer_wrapper .form-control{
    color:var(--text-light);
}
.footer_wrapper .form-control:focus{
    outline:none;
    box-shadow: none;
    border-color:var(--bg-white);
}
.footer_wrapper .copyright-section{
    background-color:var(--bg-light-blue);
    padding:2rem 0 1rem;
    text-align: center;
}
.footer_wrapper .copyright-section a{
    color:var(--text-white);
    font-weight: 600;
}

/* <!--Responsive design--> */
@media (max-width: 1199.5px) {

    /* custom css */ 
    .card{
        padding:2.5rem 1.875rem;
    } 

    /* header */ 
    .header_wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }

    /* top banner */ 
    .banner_wrapper .animate-img .aimg1{
        left:-3.125rem;
    }

    /* about */ 
    .about_wrapper .card{
        width:100%;
    } 
    .about_wrapper .about-animate{
        left:.9375rem;
    }

    /* service */ 
    .services_wrapper .card{
        padding:1.875rem 1.25rem;
    }

}

@media (max-width:991px) {

    /* custom css */ 
    .wrapper{
        padding:3.125rem 0;
    }
    .main-btn{
        font-size: .875rem;
    }
    h1{
        font-size: 2.8125rem;
        margin-bottom:.625rem;
    }
    h2{
        font-size: 1.875rem; 
    }
    h3{
        font-size: 1.5625rem; 
    }
    h4{
        font-size: 1.25rem; 
    }
    h5{
        font-size: 1.125rem; 
    }
    p{
        font-size: 1rem;
        line-height: 1.35rem;
    }
    .text__descrition{
    
        font-size: 1rem;
        line-height: 1.35rem;
        color: white;
    }
    .card{
        padding:1.875rem 1rem;
    }

    /* 2 Navbar */ 
    .header-scrolled{
        height:auto;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top:.9375rem;
    }

    /* banner */ 
    .banner_wrapper p{
        max-width: 100%;
    }


    /* about */ 
    .about_wrapper .about-clinic:nth-child(1),
    .about_wrapper .about-clinic:nth-child(2){
        margin-bottom:1.5625rem;
    }
    .about_wrapper .about-clinic:nth-child(2),
    .about_wrapper .about-clinic:nth-child(4){
        padding-left:2.375rem;
    }

    /* services */ 
    .services_wrapper .card{
        padding:1.875rem .875rem;
    }

    /* blog */ 
    .blog_wrapper .card .blog-content{
        padding:1.875rem .625rem;
    }

}

@media (max-width: 767px) {

    /* custom css */ 
    .main-btn{
        font-size: .875rem;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom:2.5rem;
    } 
    h5{
        font-size: 1.25rem; 
    } 
    /* story */
    .testimonial_wrapper .story{
        color:var(--text-white);
        font-size: small;
    }
    .about__wrapper .p__cormorant{
        font-size: 20px;
    }

    /* product registration  */
    .product_wrapper .p__cormorant{
        color:var(--text-white);
        font-size: small;
    
    }

    /* service */ 
    .services_wrapper .card{
        text-align: center;
    }

    /* blog */ 
    .blog_wrapper .card .blog-content{
        margin:0;
    }
      .team {
        margin:0;
    }




    /* footer */ 
    .footer_wrapper{ 
        padding-bottom:0;
    }
    .footer_wrapper>div{
        padding:0 1.875rem;
    }
}

@media (max-width: 360px) {

    /* Services */ 
    .services_wrapper .icon-box{
        margin-bottom:.9375rem;
    }

    /* about */   
    .about_wrapper .about-animate{
        width:6.875rem;
    }
    .about_wrapper .card{
        padding:1.25rem .3125rem;
    }
    .about_wrapper .about-clinic:nth-child(2),
    .about_wrapper .about-clinic:nth-child(4){
        padding-left:.625rem;
    }

}
   